// Completer inputs variables
$color_0: #333;
$color_1: #dfdfdf;
$color_2: #fff;
$color_3: #f2f2f2;
$color_4: #7f8c8d;
$color_5: #c0c0c0;
$color_10: #435A6B;
$color_11: #e67e22;
$color_12: #e2e2e2;

// Demo inputs variables
$color_6: lighten(#1e1e1e, 5%);
$color_7: #89867E;
$color_8: #666;
$color_9: #777;

$font-base: 'Open Sans', Helvetica, Geneva, Tahoma, sans-serif;
$font-alt: 'Montserrat', Helvetica, Geneva, Tahoma, sans-serif;